<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Sign Up</title>
</head>
<body>
<h1> Welcome to option shop </h1>
<div class="auth">
    <main class='sign-up form'>
        <h2> Sign Up </h2>
        <section>
            <form method='POST'>
                {% csrf_token %}
                <div class='login'>

                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}

                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}

                    <label for="{{ form.password2.id_for_label }}">Repeat Password:</label>
                    {{ form.password2 }}

                    <button type="submit">Sign Up</button>
                </div>
            </form>
            <h4>Already have an account? <a href="{% url 'login' %}"><span> Login </span></a></h4>

        </section>
    </main>
</div>
</body>

</html>